
.contactHello{
<<<<<<< HEAD
	margin-top:@page_top; 
	font-style: italic;
=======
	margin-top:10%; 
>>>>>>> dc5c6c3fd21eaa3d573fc2bf711d78a1a8d057cb
	.fontHello;	
}
.contactEmail{
	margin-top: @vert_margin*2;	
	.fontEmail;	
<<<<<<< HEAD
	img{
		vertical-align: middle;
		margin-right:@horiz_margin;
	}
	span{
		margin-right:@horiz_margin;
	}
=======
>>>>>>> dc5c6c3fd21eaa3d573fc2bf711d78a1a8d057cb
}
.contactInfo{	
	margin-top: @vert_margin*2;
	display: inline-block;
	width:50%;
	vertical-align: top;
	
	.fontText;

	div{
		margin-top: @vert_margin*.5;
	}
	.title{
		font-weight: bold;
	}
	span{
		margin-right: @horiz_margin;		
	}
}

.contactMap{
<<<<<<< HEAD
	position: relative;
	padding-bottom: 40%; /* 16:9 */	
	height: 0;
	width:100%;	
	
	background-color: black;
	margin-top: @vert_margin;

	&>div{
		position: absolute;
		width:100%;
		height:100%;
	}
=======
	width:100%;	
	height:40%;
	// height:60vh;
	background-color: black;
	margin-top: @vert_margin;
>>>>>>> dc5c6c3fd21eaa3d573fc2bf711d78a1a8d057cb
}

.mapMarker{
	position: relative;
	left:-40px;
	top:-20px;
}

.socialLink{
	margin-top: @vert_margin*2;
	margin-bottom: @vert_margin*2;
	//width:100%;
	>div{
		text-align: center;
	}
	a{
		margin-right:@horiz_margin;
	}
}