::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 6px;
  height: 30px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-button:vertical:increment {
  background: black url('../../image/small_triangle_down.png') no-repeat;
}
::-webkit-scrollbar-button:vertical:decrement {
  background: black url('../../image/small_triangle.png') no-repeat;
}
@font-face {
  font-family: mmlabWebTitle;
  font-weight: bold;
  src: local('Microsoft JhengHei');
}
@font-face {
  font-family: mmlabWebTitle;
  font-style: normal;
  font-weight: 800;
  src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'), url(https://fonts.gstatic.com/s/assistant/v1/-mTR0sX8a0RsadH4AMDT8Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: mmlabWebText;
  font-style: normal;
  src: local('Microsoft JhengHei');
}
@font-face {
  font-family: mmlabWebText;
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v2/9c6KKeibr6NtFqknnNxZB8I79x-VWsl9ZLFyGx7L0Fo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'), url(https://fonts.gstatic.com/s/assistant/v1/-mTR0sX8a0RsadH4AMDT8EByb1TKJa77egybnpn19yM.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'), url(https://fonts.gstatic.com/s/assistant/v1/-mTR0sX8a0RsadH4AMDT8Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* gujarati */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v2/9c6KKeibr6NtFqknnNxZByUZf6SPjCvTHKwPaGj40_g.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200B-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v2/9c6KKeibr6NtFqknnNxZBxLE1M_n0V67aubpfN9Cf9U.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v2/9c6KKeibr6NtFqknnNxZB8I79x-VWsl9ZLFyGx7L0Fo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
#ham_menu {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#ham_menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
#ham_menu span:nth-child(1) {
  top: 9px;
}
#ham_menu span:nth-child(2),
#ham_menu span:nth-child(3) {
  top: 16px;
}
#ham_menu span:nth-child(4) {
  top: 23px;
}
#ham_menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#ham_menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#ham_menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#ham_menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: mmlabWebText;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.center {
  display: block;
  margin: 0px auto;
}
.floatBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.fullImage {
  width: 100%;
}
#_main {
  position: absolute;
  width: 100%;
  transition: .01s;
}
#_main.blur {
  transition: 0.1s ease-in-out 0.1s;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.mainContainer {
  width: 100%;
  height: 100%;
}
.mainContainer .content {
  position: relative;
  top: 0;
  width: 75%;
}
.mainContainer > div {
  width: 100%;
  height: 100%;
}
.logo {
  position: fixed;
  left: 30px;
  top: 30px;
  height: 25px;
  z-index: 100;
}
.logo img {
  height: 100%;
}
#_BackEffect {
  position: fixed;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -10;
}
.edgeShadow {
  box-shadow: 0 0px 40px -5px black;
}
.mainMenu {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 37.5px;
  text-align: center;
  transition: all .1s;
  z-index: 2;
  background-image: none;
  background-size: cover;
}
.mainMenu .wrap {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  display: table;
  padding: 10% 0;
}
.mainMenu .wrap.show {
  visibility: visible;
  opacity: 1;
}
.mainMenu .wrap > div {
  display: table;
  width: 100%;
  height: 100%;
}
.mainMenuItem {
  display: table-row;
  width: 100%;
  height: 5%;
  margin-top: 5%;
  text-align: center;
  font-family: 'Assistant';
}
.mainMenuItem:hover {
  color: red;
}
.cornertitle {
  position: fixed;
  left: 30px;
  bottom: 150px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 12.5px;
  z-index: 20;
}
.cornertitle span {
  margin-right: 5px;
}
.copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about {
  padding-top: 5%;
}
.about .part {
  width: 50%;
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
}
.about .part .title {
  margin-top: 40px;
  font-size: 22px;
}
.about .part .text {
  margin-top: 20px;
}
.about img {
  width: 100%;
}
.blurBack {
  width: 100%;
  height: 20%;
  z-index: -1;
  overflow: hidden;
  display: none;
}
.blurBack img {
  width: 100%;
  filter: blur(5px);
}
.AWorkContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  background: transparent;
  z-index: 20;
}
.AWorkContent {
  position: relative;
  width: 75%;
  z-index: 20;
}
.AWorkLeft {
  position: fixed;
  top: 10%;
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.AWorkLeft .AWorkLeftTop {
  width: 100%;
  z-index: 2;
  font-family: mmlabWebTitle;
}
.AWorkLeft .AWorkLeftTop .English {
  font-family: 'Assistant';
  font-size: 45px;
  text-transform: uppercase;
  width: 100%;
}
.AWorkLeft .AWorkLeftTop .Chinese {
  font-size: 25px;
  margin-top: 10px;
}
.AWorkLeft .AWorkLeftTop div {
  margin-bottom: 20px;
}
.AWorkLeft .AWorkLeftBottom {
  margin-top: 40px;
}
.AWorkLeft .AWorkLeftBottom div {
  margin-bottom: 10px;
}
.AWorkLeft .AWorkLeftBottom .AWorkTag {
  font-weight: bold;
}
.AWorkRight {
  position: relative;
  top: 10%;
  left: 37.5%;
  width: 62.5%;
}
.AWorkRight > div {
  padding-bottom: 40px;
}
.AWorkRight .AWorkText {
  width: 100%;
  white-space: pre-wrap;
}
.AWorkRight .AWorkText .title {
  font-size: 22px;
  padding-bottom: 20px;
}
.AWorkRight .AWorkText .text {
  font-size: 16px;
  padding-bottom: 20px;
}
.AWorkVideo {
  position: relative;
  padding-bottom: 56.25% !important;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.AWorkVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.AWorkGap {
  border-top: 1px solid white;
}
.AWorkImageContainer {
  position: relative;
  padding-bottom: 56.25% !important;
  /* 16:9 */
  height: 0;
}
.AWorkImageView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.AWorkImageView .slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.AWorkImageView .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s;
}
.AWorkImageView .image.show {
  opacity: 1;
}
.AWorkImageView .control {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.AWorkImageView .imageArrow {
  position: absolute;
  top: 40%;
  width: 10%;
  height: 10%;
  background-repeat: no-repeat;
  background-size: contain;
}
.AWorkImageView .imageArrow.right {
  right: 0;
  background-image: url('../../image/arrow-right.png');
  background-position: right;
}
.AWorkImageView .imageArrow.left {
  left: 0;
  background-image: url('../../image/arrow-left.png');
}
.dotContainer {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}
.dotContainer .dot {
  margin: 0px 10px;
  cursor: pointer;
}
.AWorkClose {
  position: fixed;
  top: 30px;
  right: 30px;
}
.AWorkRelated .more {
  font-size: 22px;
  margin-bottom: 20px;
}
.AWorkRelated .relatedContainer {
  position: relative;
  width: 32%;
  margin-right: 2%;
  display: inline-block;
  margin-top: 20px;
  overflow: hidden;
}
.AWorkRelated .relatedContainer > a img {
  width: 100%;
}
.AWorkRelated .relatedContainer:last-child {
  margin-right: 0;
}
.AWorkRelated .relatedContainer .relatedTag {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 33.33%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .3s;
  padding-left: 20px;
  padding-right: 20px;
}
.AWorkRelated .relatedContainer .relatedTag div:first-child {
  text-transform: uppercase;
  font-family: 'Assistant';
}
.AWorkRelated .relatedContainer .relatedTag div:last-child {
  text-transform: uppercase;
  font-family: 'mmlabWebTitle';
}
.AWorkRelated .relatedContainer:hover .relatedTag {
  opacity: 1;
}
.workList {
  padding-top: 10%;
  width: 100%;
  min-height: 100%;
}
.workItem {
  position: relative;
  display: inline-block;
  width: 33.33%;
  margin-left: 0;
}
.workItem > div {
  padding-bottom: 10px;
  padding-right: 10px;
}
.workItem.last-in-row {
  margin-right: 0;
}
/* thumb */
.workThumbContainer {
  position: relative;
  padding-bottom: 66.66%;
  /* 3:2 */
  height: 0;
}
.workThumbContainer > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.workThumbDescript {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: .3s;
}
.workThumbDescript .wrap {
  margin: 0 20px;
}
.workThumbDescript .wrap .tag {
  font-size: 16px;
}
.workThumbDescript .wrap .english {
  font-size: 32px;
}
.workThumbDescript .wrap .chinese {
  font-family: mmlabWebTitle;
  font-size: 22px;
  margin-top: 10px;
}
.workThumbDescript:hover {
  opacity: 1;
  transition: 0.1s ease-in-out 0.1s;
}
/* filter */
.filter {
  position: fixed;
  right: 30px;
  bottom: 20%;
  text-align: right;
}
.workFilter {
  display: block;
}
.workFilter div {
  margin-top: 10px;
}
.workFilter .filterTitle {
  cursor: pointer;
  font-size: 16px;
}
.filterContent {
  display: none;
}
.filterContent.show {
  display: block;
}
.filterName {
  cursor: pointer;
  margin-left: 10px;
  color: white;
  font-size: 12.5px;
}
.filterName.active {
  color: red;
}
.filterGap {
  margin: 0 20px;
}
.contactInfo > div {
  width: 25%;
  margin-top: 20px;
  display: inline-block;
}
.contactInfo .contactDetail {
  white-space: pre-line;
  xfont-size: 16px;
}
.contactInfo .socialLink a {
  float: right;
  margin-right: 20px;
}
.contactMap {
  width: 100%;
  height: 80%;
  background-color: black;
}
.mapMarker {
  position: relative;
  left: -40px;
  top: -20px;
}
