::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 6px;
  height: 30px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-button:vertical:increment {
  background: black url('../../image/small_triangle_down.png') no-repeat;
}
::-webkit-scrollbar-button:vertical:decrement {
  background: black url('../../image/small_triangle.png') no-repeat;
}
@font-face {
  font-family: mmlabWebTitle;
  font-weight: bold;
  src: local('Microsoft JhengHei');
}
@font-face {
  font-family: mmlabWebTitle;
  font-style: normal;
  font-weight: 800;
  src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'), url(https://fonts.gstatic.com/s/assistant/v1/-mTR0sX8a0RsadH4AMDT8Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: mmlabWebText;
  font-style: normal;
  src: local('Microsoft JhengHei');
}
@font-face {
  font-family: mmlabWebText;
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v2/9c6KKeibr6NtFqknnNxZB8I79x-VWsl9ZLFyGx7L0Fo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'), url(https://fonts.gstatic.com/s/assistant/v1/-mTR0sX8a0RsadH4AMDT8EByb1TKJa77egybnpn19yM.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'), url(https://fonts.gstatic.com/s/assistant/v1/-mTR0sX8a0RsadH4AMDT8Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* gujarati */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v2/9c6KKeibr6NtFqknnNxZByUZf6SPjCvTHKwPaGj40_g.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200B-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v2/9c6KKeibr6NtFqknnNxZBxLE1M_n0V67aubpfN9Cf9U.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara'), local('HindVadodara-Regular'), url(https://fonts.gstatic.com/s/hindvadodara/v2/9c6KKeibr6NtFqknnNxZB8I79x-VWsl9ZLFyGx7L0Fo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: mmlabWebText;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.center {
  display: block;
  margin: 0px auto;
}
.floatBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.fullImage {
  width: 100%;
}
.mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mainContainer .content {
  position: relative;
  top: 8%;
  width: 80%;
  height: 77%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 20px;
}
.mainContainer .content .part {
  margin-top: 20px;
}
#_BackEffect {
  position: fixed;
  width: 100%;
  height: 100%;
  border: none;
}
.edgeShadow {
  box-shadow: 0 0px 40px -5px black;
}
#_main {
  transition: .2s;
}
#_main.blur {
  transition: 0.1s ease-in-out 0.1s;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.mainMenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  min-height: 93px;
  font-size: 32px;
  text-align: center;
  transition: all .1s;
  z-index: 2;
  background-image: none;
  background-size: cover;
}
.mainMenu.show {
  height: 100%;
  transition: all .2s;
  background: rgba(0, 0, 0, 0.6);
}
.mainMenu div img {
  margin-top: 2.5%;
}
.mainMenu img {
  margin-top: 5px;
}
.mainMenuItem {
  display: block;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  font-family: 'Assistant';
}
.mainMenuItem:hover {
  color: red;
}
.copyright {
  margin-top: 5%;
  font-size: 12px;
}
.title {
  position: fixed;
  width: 100%;
  height: 8%;
  z-index: 5;
}
.titleContent {
  position: relative;
  width: 80%;
  margin-top: 50px;
}
.titleText {
  position: absolute;
  bottom: 0px;
  font-size: 40px;
  background: black;
  font-family: 'Assistant';
  padding-right: 12px;
}
.titleSub {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px white solid;
  float: right;
  text-align: right;
  font-size: 14px;
}
.serviceTitle {
  font-size: 22px;
}
.aboutTopSub {
  margin-left: 20px;
}
.AWorkContent {
  position: relative;
  width: 80%;
  height: 100%;
  overflow: hidden;
}
.AWorkLeft {
  position: absolute;
  top: 9%;
  left: 0;
  width: 32%;
  height: 82%;
  display: flex;
  flex-direction: column;
}
.AWorkLeft .AWorkLeftTop {
  width: 100%;
  padding-bottom: 10px;
  z-index: 2;
  font-family: mmlabWebTitle;
}
.AWorkLeft .AWorkLeftTop .English {
  font-family: 'Assistant';
  font-size: 40px;
  text-transform: uppercase;
  width: 100%;
}
.AWorkLeft .AWorkLeftTop .Chinese {
  font-size: 24px;
  margin-top: 10px;
}
.AWorkLeft .AWorkLeftBottom {
  flex: 1;
  border-left: 1px white solid;
  height: 100%;
  width: 90%;
}
.AWorkLeft .AWorkLeftBottom .floatBottom div {
  margin-left: 10px;
}
.AWorkLeft .AWorkLeftBottom .AWorkTag {
  font-weight: bold;
}
.AWorkRight {
  position: absolute;
  top: 9%;
  right: 0;
  width: 68%;
  height: 82%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;
}
.AWorkVideo {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.AWorkVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.AWorkSubTitle {
  font-family: mmlabWebTitle;
  font-size: 24px;
}
.AWorkText {
  width: 100%;
  font-size: 16px;
  padding: 20px 0px;
  white-space: pre-wrap;
}
.AWorkGap {
  margin: 20px 0px;
  border-top: 1px solid white;
}
.AWorkImageContainer {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.AWorkImageView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.AWorkImageView .slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.AWorkImageView .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s;
}
.AWorkImageView .image.show {
  opacity: 1;
}
.AWorkImageView .control {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.AWorkImageView .dotContainer {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}
.AWorkImageView .dot {
  margin: 0px 5px;
}
.AWorkImageView .imageArrow {
  position: absolute;
  top: 40%;
  width: 10%;
  height: 10%;
  background-repeat: no-repeat;
  background-size: contain;
}
.AWorkImageView .imageArrow.right {
  right: 0;
  background-image: url('../../image/arrow-right.png');
  background-position: right;
}
.AWorkImageView .imageArrow.left {
  left: 0;
  background-image: url('../../image/arrow-left.png');
}
.AWorkClose {
  position: fixed;
  top: 5.55%;
  right: 5%;
}
.AWorkRelated {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
.AWorkRelated .relatedContainer {
  position: relative;
  width: 32%;
  display: inline-block;
  margin-right: 2%;
}
.AWorkRelated .relatedContainer > a img {
  width: 100%;
}
.AWorkRelated .relatedContainer:last-child {
  margin-right: 0;
}
.AWorkRelated .relatedContainer .relatedTag {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .3s;
  padding: 5px;
}
.AWorkRelated .relatedContainer .relatedTag div:first-child {
  text-transform: uppercase;
  font-family: 'Assistant';
}
.AWorkRelated .relatedContainer .relatedTag div:last-child {
  text-transform: uppercase;
  font-family: 'mmlabWebTitle';
}
.AWorkRelated .relatedContainer:hover .relatedTag {
  opacity: 1;
}
.workList {
  width: 100%;
}
.workItem {
  position: relative;
  display: inline-block;
  width: 32%;
  margin-left: 0;
  margin-right: 2%;
  margin-bottom: 20px;
}
.workItem.last-in-row {
  margin-right: 0;
}
/* thumb */
.workThumbContainer {
  position: relative;
  padding-bottom: 66.66%;
  /* 3:2 */
  height: 0;
}
.workThumbContainer > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.workThumbDescript {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: .3s;
}
.workThumbDescript .english {
  width: 100%;
  margin-left: 4%;
  margin-top: 3px;
}
.workThumbDescript .chinese {
  font-family: mmlabWebTitle;
  font-size: 22px;
  margin-left: 4%;
  margin-top: 4px;
}
.workThumbDescript .tag {
  width: 100%;
  flex: 1;
  border-left: 1px white solid;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 4%;
  margin-left: 5%;
  font-weight: bold;
  font-family: 'Assistant';
}
.workThumbDescript .tag .floatBottom {
  bottom: 4%;
}
.workThumbDescript:hover {
  opacity: 1;
  transition: 0.1s ease-in-out 0.1s;
}
/* filter */
.workFilter {
  display: inline-block;
}
.workFilter .filterTitle {
  font-family: 'Assistant';
  cursor: pointer;
}
.filterContent {
  display: none;
}
.filterContent.show {
  display: inline-block;
}
.filterName {
  cursor: pointer;
  margin-left: 10px;
  color: white;
}
.filterName.active {
  color: red;
}
.filterGap {
  margin: 0 20px;
}
.socialLink {
  margin: 4px 20px;
}
.contactDetail {
  display: inline-block;
  width: 33%;
  white-space: pre-line;
  margin-top: 32px;
  font-size: 18px;
}
.contactMap {
  height: 80%;
  background-color: white;
}
.mapMarker {
  position: relative;
  left: -40px;
  top: -20px;
}
