

@titleheight: 8%;
@bottomheight: 15%;

@import 'scroll.less';
@import 'font.less';
@import 'hamburger.less';
@import 'glitch.less';

// @import 'glitch.less';

@out_margin:10px;
@in_margin:30px;

@vert_margin:20px;
@horiz_margin:20px;

@work_margin:10px;


@import 'main.less';
@import 'menu.less';
@import 'title.less';

@import 'home.less';
@import 'about.less';
@import 'awork.less';
@import 'work.less';
@import 'contact.less';

