.AWorkContent{
	position: relative;
	width:80%;
	height:100%;
	overflow: hidden;
	//pointer-events: none;
}
.AWorkLeft{
	position: absolute;
	top:9%;
	left:0;
	width:32%;
	height:82%;	
	display: flex;
	flex-direction:column;
	

	.AWorkLeftTop{

		width: 100%;	
		padding-bottom:10px;
		z-index: 2;
		font-family: mmlabWebTitle;	

		.English{
			font-family: 'Assistant';	
			font-size: 40px;
			text-transform: uppercase;
			width:100%;
		}
		.Chinese{
			font-size: 24px;
			margin-top: 10px;
		}
	}
	.AWorkLeftBottom{
		flex:1;

		border-left:1px white solid;
		height:100%;
		width: 90%;

		.floatBottom div{
			//margin-top:10px;
			margin-left:10px;
		}
		.AWorkTag{
			font-weight: bold;
		}
	}
}
.AWorkRight{
	position: absolute;
	top:9%;
	right:0;
	width:68%;
	height:82%;
	overflow: scroll;
	overflow-x: hidden;
	padding: 20px;
	//pointer-events: auto;
}




.AWorkVideo{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.AWorkVideo iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.AWorkSubTitle{
	font-family: mmlabWebTitle;	
	font-size: 24px;
}
.AWorkText{
	width:100%;
	font-size: 16px;
	padding:20px 0px;	
	white-space: pre-wrap;

}
.AWorkGap{
	margin:20px 0px;
	border-top:1px solid white;
}
.AWorkImageContainer{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.AWorkImageView{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.slider{
		overflow: hidden;
		width:100%;
		height:100%;
	}
	.image{
		position: absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		opacity: 0;
		transition: .3s;
		&.show{
			opacity: 1;
		}
	}

	.control{
		position: absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;

		
	}
	.dotContainer{
		position: absolute;
		bottom: 10%;
		width:100%;
		display: flex;
    	align-items: center;
	}
	.dot{
		margin:0px 5px;
	}
	.imageArrow{
		position: absolute;
		top:40%;
		width:10%;
		height:10%;
		
		background-repeat: no-repeat;
		background-size: contain;

		&.right{
			right:0;
			background-image: url('../../image/arrow-right.png');
			background-position: right;
		}
		&.left{
			left:0;
			background-image:url('../../image/arrow-left.png');
		}
	}
	
}



.AWorkClose{
	position: fixed;
	top:5.55%;
	right:5%;
}

.AWorkRelated{
	position: relative;
	margin-top: 25px;
	margin-bottom: 25px;
	
	.relatedContainer{
		position: relative;
		width:32%;
		display: inline-block;
		margin-right: 2%;
		
		>a img{
			width:100%;
		}

		&:last-child{
			margin-right: 0;
		}
		.relatedTag{
			position: absolute;
			bottom:0;
			width: 100%;
			height:30%;
			background-color: rgba(0,0,0,.5);
			
			opacity: 0;
			transition:.3s;
			padding: 5px;

			div:first-child{
				text-transform: uppercase;
				font-family: 'Assistant';
				//margin: 2px;
			}
			div:last-child{
				text-transform: uppercase;
				font-family: 'mmlabWebTitle';
				//margin: 2px;
			}
		}
		&:hover .relatedTag{
			opacity: 1;				
		}
		
	}
	
}

