

.contactInfo{	
	&>div{
		width:25%;
		margin-top: @vert_margin;
		display: inline-block;
	}
	.contactDetail{	
		white-space: pre-line;
		xfont-size: @text_size;
	}
	.socialLink{
		a{
			float:right;
			margin-right:@horiz_margin;
		}
	}
}

.contactMap{
	width:100%;	
	height:80%;
	// height:60vh;
	background-color: black;

}
.mapMarker{
	position: relative;
	left:-40px;
	top:-20px;
}