
@text_size:16px;
@title_size:22px;

@small_text_size:12.5px;

@menu_text_size:37.5px;

@work_title_size:32px;

@awork_en_size:45px;
@awork_ch_size:25px;

@copyright_size:12px;





@font-face{
	font-family:mmlabWebText;	
	font-style: normal;
	src: local('Microsoft JhengHei');
}
@font-face{
	font-family:mmlabWebText;
	font-style: normal;
  	//font-weight: 400;
  src: local('Futura LT Book Regular'), local('Futura-LT-Book'), url(../../font/Futura-LT-Book.woff);
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}




@font-face{
  font-family:mmlabWebTitle; 
  font-weight: bold;
  src: local('Microsoft JhengHei');
}
@font-face{
  font-family:mmlabWebTitle;
  font-style: normal;
  font-weight: bold;
    //font-weight: 400;
  src: local('Futura'),url(../../font/Futura-bold.woff);
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}


