
@text_size:16px;
@title_size:22px;

@small_text_size:12px;

@menu_text_size:37.5px;

@work_title_size:32px;

@awork_en_size:45px;
@awork_ch_size:25px;

@copyright_size:11px;




@pad_text_size:12px;
@pad_title_size:16px;

@pad_small_text_size:9px;

@pad_menu_text_size:28px;

@pad_work_title_size:22px;

@pad_awork_en_size:33px;
@pad_awork_ch_size:18px;

@pad_copyright_size:8px;




@font-face{
	font-family:mtextFont;	
	font-style: normal;
	src: local('Microsoft JhengHei');
}
@font-face{
	font-family:mtextFont;
	font-style: normal;
  src: url(../../font/Futura-LT-Book.woff);
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}


@font-face{
  font-family:mtitleFont; 
  font-weight: bold;
  src: local('Microsoft JhengHei');
}
@font-face{
  font-family:mtitleFont;
  font-weight: bold;
  src: url(../../font/Futura-LT-Bold.woff);
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}


@font-face{
  font-family:mmenuFont;
  src:url(../../font/Futura-Koyu.woff);  
}

//global
.fontMenu{  
  font-family: mmenuFont;
  font-size:@menu_text_size;
  letter-spacing:@menu_text_size*.15;

  @media @pad{
    font-size: @pad_menu_text_size;
    letter-spacing:@pad_menu_text_size*.15;
  }
}

.fontCopyright{
  font-family: mtextFont;
  font-size:@copyright_size;
  letter-spacing:@copyright_size*.2; 

  @media @pad{
    font-size:@pad_copyright_size;
    letter-spacing:@pad_copyright_size*.2; 
  }
}

.fontCornerTitle{
  font-family: mtextFont;
  font-size:@small_text_size;
  letter-spacing:@small_text_size*.3; 

  @media @pad{
    font-size:@pad_small_text_size;
    letter-spacing:@pad_small_text_size*.3; 
  }
}

.fontText{
  font-family: mtextFont;
  font-size:@text_size;
  letter-spacing:@text_size*.1;  
  line-height:180%;
  text-align: justify;

  @media @pad{
    font-size:@pad_text_size;
    letter-spacing:@pad_text_size*.1;  
  }
}
.fontTitle{
  font-family: mtitleFont;
  font-weight: bold;
  font-size:@title_size;
  letter-spacing:@title_size*.1;   
  // line-height: 98%;
  @media @pad{
    font-size:@pad_title_size;
    letter-spacing:@pad_title_size*.1;   
  }
}

//work
.fontFilterTitle{
  font-family: mtextFont;
  font-size:@text_size;
  letter-spacing:@text_size*.1; 
  text-transform: uppercase; 
  @media @pad{
    font-size:@pad_text_size;
    letter-spacing:@pad_text_size*.1; 
  }
}
.fontFilterText{
  font-family: mtextFont;
  font-size:@small_text_size;
  letter-spacing:@small_text_size*.1;  
  text-transform: uppercase;
  @media @pad{
    font-size:@pad_small_text_size;
    letter-spacing:@pad_small_text_size*.1;  
  }
}


//awork
.fontAWorkTitleEn{
  font-family: mtitleFont;
  font-size:@awork_en_size;
  letter-spacing:@awork_en_size*.1;   
  text-transform: uppercase;

  font-weight: bold;
  @media @pad{
    font-size:@pad_awork_en_size;
    letter-spacing:@pad_awork_en_size*.1;   
  }
  // line-height: 98%;
}
.fontAWorkTitleCh{
  font-family: mtitleFont;
  font-weight: bold;
  font-size:@awork_ch_size;
  letter-spacing:@awork_ch_size*.1;   
  @media @pad{
    font-size:@pad_awork_ch_size;
    letter-spacing:@pad_awork_ch_size*.1;   
  }
}

//contact
.fontHello{
  font-family: mtitleFont;
  font-weight: bold;
  font-size:@title_size*3;
  letter-spacing:@title_size*3*.1;  
  @media @pad{
    font-size:@pad_title_size*3;
    letter-spacing:@pad_title_size*3*.1;  
  }
}
.fontEmail{
  font-family: mtextFont;
  font-size:@title_size*1.5;
  letter-spacing:@title_size*1.5*.1;   
  @media @pad{
    font-size:@pad_title_size*1.5;
    letter-spacing:@pad_title_size*1.5*.1;   
  }
}