
@gap:5%;

#_main{
	transition:.2s;
	&.blur{
		transition:.1s ease-in-out .1s;
		-webkit-filter: blur(3px); 
		filter: blur(3px); 
	}
}


.mainMenu{
	position: fixed;
	bottom: 0;
	width:100%;	
	height: @bottomheight;
	min-height: 93px;
	font-size: 32px;
	text-align: center;
	transition:all .1s;//, background-image 1.2s linear .2s;
	z-index: 2;
	background-image:none;
	background-size: cover;	

	&.show{
		height:100%;
		transition:all .2s;//, background-image 1.2s linear .2s;
		background: rgba(0,0,0,0.6);

	}
	
	div img{
		margin-top: 2.5%;
	}
	img{
		margin-top: 5px;
	}

}
.mainMenuItem{
	display: block;
	width:100%;
	margin-top: @gap;
	text-align: center;

	font-family: 'Assistant';
	&:hover{
		color:red;
	}
}


.copyright{
	margin-top: @gap;
	font-size: 12px;	
}