

.cornertitle{
	position:fixed;	
	left:@in_margin;
	bottom:@in_margin*5;

	transform: rotate(-90deg);
	
	text-transform: uppercase;
	font-size: @small_text_size;	
	
	z-index:20;

	span{
		margin-right: 5px;
	}
}
.copyright{
	text-align: center;
	font-size: @copyright_size;	
	margin-top: @vert_margin;
	margin-bottom: @vert_margin;
}