
.workList{
	width:100%;
}
.workItem{
	position: relative;
	display: inline-block;
	width:32%;
	margin-left: 0;
	margin-right:2%;
	margin-bottom: 20px;
}
.workItem.last-in-row{
	margin-right:0;	
}

/* thumb */
.workThumbContainer{
	position: relative;
	padding-bottom: 66.66%; /* 3:2 */	
	height: 0;
	>canvas{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;	
	}
}


.workThumbDescript{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;	

	display: flex;
	flex-direction:column;
	
	background-color: rgba(0,0,0,0.7);
	opacity: 0;
	transition:.3s;
	.english{
		// font-family: 'Assistant';
		// font-size: 34px;
		// text-transform: uppercase;
		width:100%;
		height:40px;
		margin-left: 4%;
		margin-top: 4%;
	}
	.chinese{
		font-family: mmlabWebTitle;
		font-size: 22px;	
		margin-left: 4%;
		margin-top: 5px;
	}
	.tag{
		// position: absolute;
		// top:40%;		
		width:100%;
		flex:1;
		border-left:1px white solid;
		padding-left:5px;
		margin-top: 5px;
		margin-bottom: 4%;
		margin-left: 5%;
		font-weight: bold;

		.floatBottom{
			bottom:4%;
		}
	}
	&:hover{
		opacity: 1;
		transition:.2s ease-in-out .4s;
	}

}



/* filter */
.workFilter{
	display: inline-block;	
	.filterTitle{
		font-family: 'Assistant';
		cursor: pointer;
	}	
}

.filterContent{
	display: none;
	&.show{
		display: inline-block;	
	}
}
.filterName{
	cursor: pointer;
	margin-left:10px;
	color:white;
	&.active{
		color:red;	
	}
}

.filterGap{
	margin:0 20px;
}