

.corner_title{
	
	position:fixed;	
	left:@out_margin + @in_margin;
	bottom:@in_margin*5;
	width:@in_margin*2;
	>div{
		text-align: center;
		transform:rotate(-90deg);
		white-space: pre;
		text-transform: uppercase;
		.fontCornerTitle;
	}

	
	
	
	span{
		margin-right: 5px;
	}

	@media @pad{
		display: none;
	}
}
.copyright{
	
	//position: absolute;
	bottom: 0;
	width:100%;

	text-align: center;	

	.fontCopyright;

	margin-top: @out_margin + @vert_margin*10;
	margin-bottom: @vert_margin*2;

	// >div{
				
	// }
}