@appear_interval:1s;
@delay_interval:.6s;

@work_thumb_appear_interval:.5s;
@work_thumb_delay_interval:0.1s;




.work_thumb{
  &-appear, &-enter{
 	  opacity: 0.01;
    &-active{
      opacity: 1;
      transition-duration:@work_thumb_appear_interval;
      transition-timing-function:ease-in-out;
      .generate-delays(40,@work_thumb_delay_interval);  
    }
  }
  &-leave{
    opacity: 1;
    &-active{
      opacity: 0.01;
      transition-duration:@work_thumb_appear_interval;
      transition-timing-function:ease-in-out;
      transition-delay: 0s !important;
    }
  }
}

.main_container{
  &-appear, &-enter{
    opacity: 0.01;
    &-active{
      opacity: 1;
      transition-duration:@appear_interval;      
      transition-timing-function:ease-in-out;
      transition-delay:@delay_interval*3;
    }
  }
  &-leave{
    opacity: 1;
    &-active{
      opacity: 0.01;
      transition-duration:@appear_interval;
      transition-timing-function:ease-in-out;
      transition-delay: 0;//@delay_interval;
    }
  }
}

.corner_title{

  &-appear, &-enter{
    opacity: 0.01;
    &-active{
      opacity: 1;
      transition-duration:@appear_interval;       
      transition-timing-function:ease-in-out;     
      transition-delay:@delay_interval*2;            
    }
  }
  &-leave{
    opacity: 1;
    &-active{
      opacity: 0.01;
      transition-duration:@appear_interval;
      transition-timing-function:ease-in-out;
      transition-delay: 0;
    }
  }
}

.menu_icon{
  &-appear, &-enter{
    opacity: 0.01;

    &-active{
      opacity: 1;

      transition-duration:@appear_interval !important;
      transition-timing-function:ease-in-out;          
      transition-delay:0s !important;;            
    }
  }
  &-leave{
    opacity: 1;

    &-active{
      opacity: 0.01;
      transition-duration:@appear_interval !important;
      transition-timing-function:ease-in-out;
      transition-delay:@delay_interval*3 !important;            
    }
  } 
}



.generate-delays(@n, @t, @i: 1) when (@i =< @n){
	&:nth-child(@{i}){			
		transition-delay: @i*@t;    
	}
	.generate-delays(@n, @t, (@i+1));
}


.awork_left{

  &-appear, &-enter{
    opacity: 0.01;
    //transform: translate3d(0, 200%, 0) !important;

    &-active{
      opacity: 1;
      
      transition-duration:@appear_interval;  
      transition-timing-function:ease-in-out;          
      transition-delay:@delay_interval*2;            
    }
  }
  &-leave{
    opacity: 1;
    
    &-active{
      opacity: 0.01;
      transition-duration:@appear_interval;
      transition-timing-function:ease-in-out;
      transition-delay: @delay_interval*2;
    }
  }
}